[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit_learn = "*"
kaggle = "*"
pandas = "*"
numpy = "*"
xgboost = "*"
imblearn = "*"
scipy = "*"
hyperopt = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
